body {
    background: #047857;;
  }
  .form-control:focus{box-shadow: none;border-color: #047857;}
  
  .profile-button{
    background: #047857;;
    box-shadow: none;
    border: none
  }
  
  .profile-button:hover{
    background: #047857;;
  }
  .profile-button:focus{
    background: #047857;;
    box-shadow: none
  }
  
  .profile-button:active{
    background: #047857;;
    box-shadow: none
  }
  .back:hover{
    color: #047857;;
    cursor: pointer
  }
  .labels{
    font-size: 11px
  }
  
  .add-experience:hover{
    background: #047857;;
    color: #047857;;
    cursor: pointer;
    border: solid
      1px
      #047857;
  }